:root {
    --navBar-style: rgba(0, 0, 0, 0.89);;
    --footer-fontColor: rgb(224, 224, 224);
    --footer-style:rgb(24, 24, 24);
    --primeraSeccion-style: rgb(73, 73, 73);
    --segundaSeccion-style: rgb(163, 163, 163);
    --dropDownMenu-style: rgba(44, 44, 44, 0.924);
    --ptH1-style: rgb(224, 224, 224);
}

* {
    margin: 0;
    padding: 0;
}

.primeraSeccion {

    
    background-color: var(--primeraSeccion-style);
    display: block;
}

.segundaSeccion {

    background-color: var(--segundaSeccion-style);
    
}

.form__style{
    background-color: var(--footer-style);
    color: var(--footer-fontColor);
}

.footer__container{
    padding-bottom: 6rem;
}

.form__title{
    margin: 2rem 0 4rem 0;
    
}


/* MODIFICO ALGUNAS COSAS DE BOOTSTRAP, PUEDE MEDIANTE LAS CLASES O AGREGANDO ID AL TAG HTML */

.navOscura{
    background-color: var(--navBar-style);
    /* En este caso no uso bg-dark sino que directo uso una clase custom */
}

.dropdown-menu-dark{
    background-color: var(--dropDownMenu-style);
    /* Aca si cambio la clase de bootstrap */
}

.pt-h1 {
    padding: 6rem 0 1rem 0;
    color: var(--ptH1-style);
    
}

.pt-6{
    padding: 2rem 0 4rem 0 ;
    

}

.pt-7 {
    padding: 6rem 0 2rem 0 ;
}



@keyframes scaleCat {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.03);
    }
}

.card:hover{
    animation: scaleCat 1s forwards;
}

